@import "tailwindcss";

:root {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Target the specific element by class */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
